<header>
    <div class="img-wrapper">
        <img src="/img/fundo.jpg" alt="background">
    </div>
    <div class="banner">
        <img src="/img/rumos.png" alt="Rumos Soluções em TI">
        <h1>Rubens Silva Lemos</h1>
        <p>Developer & Técnico de PCs</p>
    </div>
</header>